div(ng-controller="instrPerfEvalMainCtrl")
  h2 Instrument Performance Evaluation
  div.lead.bg-danger(ng-hide="dataType == DATA_TYPES.FLAT")
    | Instrument Performance Evaluation doesn't support current dataset.
    | Only "flat" data tables are supported.
  div(ng-hide="dataType != DATA_TYPES.FLAT")
    p.
      Cronbach’s Alpha (α) is a measure of internal consistency or reliability of a psychometric instrument and measures
      how well a set of items measure a single, one-dimensional latent aspect of individuals.
    p.lead <strong> Cronbach's α: </strong> {{cronAlpha}}
    div.table-responsive
      table.table.table-bordered.table-striped
        thead
          tr
            th Cronbach's alpha
            th Internal consistency
        tbody
          tr.success
            td <strong> α </strong> ≥ 0.9
            td Excellent (High-Stakes testing)
          tr.success
            td 0.7 ≤ <strong> α </strong> < 0.9
            td Good (Low-Stakes testing)
          tr.info
            td 0.6 ≤ <strong> α </strong> < 0.7
            td Acceptable
          tr.warning
            td 0.5 ≤ <strong> α </strong> < 0.6
            td Poor
          tr.danger
            td <strong> α </strong> < 0.5
            td Unacceptable
    p.
      Cronbach's α coefficient is a point estimate of the reliability.
      Its standard error is important to construct an interval estimation of its true value
      and to obtain statistical inference about its significance.
      There are parametric and non-parametric methods to estimate the variance of Cronbach's α,
      and compute confidence intervals.
    p <strong> Cronbach’s Alpha confidence intervals </strong>
    p.bg-info ID confidence interval: {{cronAlphaIdInterval}}
    p.bg-info Koning and Franses confidence interval: {{cronAlphaKfInterval}}
    p.bg-info Bootstrap confidence interval: {{cronAlphaBootstrapInterval}}
    p.bg-info Logit confidence interval: {{cronAlphaLogitInterval}}
    p.bg-info Asymptotically distribution-free (ADF) interval: {{cronAlphaAdfInterval}}
    br
    p <strong> Other metrics of reliability: </strong>
    p.
      The Intra-class correlation coefficient (ICC) assesses the consistency, or reproducibility,
      of quantitative measurements made by different observers measuring the same quantity.
      Broadly speaking, the ICC is defined as the ratio of between-cluster variance to total variance.
    p.bg-info Intraclass correlation coefficient (ICC): {{icc}}
    p.
      In Split-Half Reliability assessment, the test is split in half (e.g., odd / even) creating "equivalent forms".
      The two "forms" are correlated with each other and the correlation coefficient is adjusted
      to reflect the entire test length, using the Spearman-Brown Prophecy formula.
    p.bg-info Split-Half Reliability coefficient: {{splitHalfCoef}}
    p.
      The Kuder–Richardson Formula 20 (KR-20) is a very reliable internal reliability estimate which simulates
      calculating split-half reliability for every possible combination of items.
      The Cronbach's α and KR-20 are similar ― KR-20 is a derivative of the Cronbach's α with the advantage that
      it can handle both dichotomous and continuous variables, however, KR-20 can't be used
      when multiple-choice questions involve partial credit and require systematic item-based analysis.
    p.bg-info Kuder–Richardson Formula 20 (KR-20): {{kr20}}
    br
    p
      small
        p <strong> References: </strong>
        p 1.&nbsp;
          a(href='http://wiki.socr.umich.edu/index.php/SMHS_Cronbachs').
            Scientific Methods for Health Sciences - Instrument Performance Evaluation: Cronbach's α
        p.
          2. TSAGRIS, MICHAIL, CONSTANTINOS C. FRANGOS, and CHRISTOS C. FRANGOS.
          "Confidence intervals for Cronbach’s reliability coefficient."
        p.
          3. Maydeu-Olivares, Alberto, Donna L. Coffman, and Wolfgang M. Hartmann.
          "Asymptotically distribution-free (ADF) interval estimation of coefficient alpha."
          Psychological methods 12.2 (2007): 157.
