div(ng-controller="qualRobEstViewSidebarCtrl")
    h4 Estimator Parameters
    input(ng-model="firstNumber").input-medium
    h4 Model Parameters
    input(ng-model="secondNumber").input-medium
    input(type="button", ng-click="sumNumbers()", class="btn", value="Send").input-medium