div(ng-controller="wrangleDataSidebarCtrl")
    span Traditional spreadsheet where you can copy-paste your data and edit it as you like!
    button.btn.btn-info(ng-click="show('grid')") Show
    hr
    span Use the exhaustive WorldBank data to fuel your analysis.
    button.btn.btn-info(ng-click="show('worldBank')") Use
    hr