#dt_example(style='height: 400px')
    .ui-layout-north#wranglerNorthPanel
        #wranglerDashboard
    .ui-layout-west#profilerWestPanel
        #transformEditor.transformEditor
    .ui-layout-center#profilerCenterPanel
        #table
        #preview
        .spacer
    .ui-layout-south