div.container-fluid(ng-controller="mainchartsCtrl")
  h4 {{chartData.name}}
  //button.btn.btn-default(ng-click="print()") Log data
  div.row-fluid
    d3-charts
    //scatterplot
    //scatterplot
    //ul.nav.nav-tabs
      li(ng-repeat="tab in tabs")
        a(data-toggle="tab" href ="#/charts/#"+"{{tab.id}}") {{tab.name}}
    //div.tab-content
      div(ng-repeat="tab in tabs" id="{{tab.id}}").tab-pane.fade
    //div.barchart(collapse="showGraph.barchart")
    //  barchart
    //div.bubblechart(collapse="showGraph.bubblechart")
    //  bubblechart
    //div.histogram(collapse="showGraph.histogram")
    //  histogram
    //div.piechart(collapse="showGraph.piechart")
    //  piechart
    //div.scatterplot(collapse="showGraph.scatterplot")
    //  scatterplot
















