div.container-fluid(ng-controller="mainchartsCtrl")
  h4 Graphs
  button.btn.btn-default(ng-click="print()") Log data
  div.row-fluid
    div#graphhere.span12
      d3-charts
      //ul#addtop.nav.nav-tabs
      my-tabs#addtop.nav.nav-tabs
      //div#addbody.tab-content
      tab-body#addbody.tab-content















