div.container-fluid(ng-controller="mainchartsCtrl")
  h4 {{chartData.name}}
  //button.btn.btn-default(ng-click="print()") Log data
  div.row-fluid
    d3-charts1
    //scatterplot
    //ul.nav.nav-tabs
      li(ng-repeat="tab in tabs")
        a(data-toggle="tab" href ="#/charts/#"+"{{tab.id}}") {{tab.name}}
    //div.tab-content
      div(ng-repeat="tab in tabs" id="{{tab.id}}").tab-pane.fade

















