div.container-fluid(ng-controller="mainchartsCtrl")

  h4 Variables
  div.row-fluid
    select.form-control(ng-model ="varNames.selectedVar" ng-options="v for v in varNames.variables")
      //option(ng-repeat="v in varNames") {{v}}
  h4 Graphs
  div.row-fluid
    div#graphhere.span12
      ul#addtop.nav.nav-tabs
      div#addbody.tab-content















