div.container-fluid(ng-controller="ChartsMainCtrl as mainArea")
  h4 {{mainArea.chartData.name}}
  div.row-fluid
    d3charts

  .TensorBoard
    section#Try
      embed(src='https://projector.tensorflow.org/?config=https://raw.githubusercontent.com/SOCR/HTML5_WebSite/master/HTML5/SOCR_TensorBoard_UKBB/data/SOCR_CountryRanking_projector_config.json', style='height:900px; width:100%;')

