div.container-fluid(ng-controller="mainchartsCtrl")
  h4 Graphs
  button.btn.btn-default(ng-click="print()") Log data
  div.row-fluid
    div#graphhere.span12
      //d3-charts
      //ul#addtop.nav.nav-tabs
      ul.nav.nav-tabs
        li(ng-repeat="tab in tabs")
          a(data-toggle="tab" href ="{{tab.name}}") {{tab.name}}
      div.tab-content
        div(ng-repeat="tab in tabs" id="{{tab.name}}").tab-pane.fade
      //my-tabs#addtop.nav.nav-tabs
      //div#addbody.tab-content
      //tab-body#addbody.tab-content















