div
    form
        fieldset
            legend Project
            label fork&nbsp;
                input(ng-model="currentFork",disabled = true).input-small
            legend Plots
            label Choose one&nbsp;
                select(ng-model="currentPlot")
                    option(ng-repeat='p in plots') {{p.label}}
            legend Variables
            label X&nbsp;
            select(ng-model="xVariable")
                option(ng-repeat="v in variables") {{v}}
            label Y&nbsp;
            select(ng-model="yVariable")
                option(ng-repeat="v in variables") {{v}}
