div(ng-controller="sideChartsCtrl")
  h4 Graphs
  select.form-control#chooseGraph(value="Choose a graph" ng-change="changeName()" ng-model="graphSelect" ng-options="g as g.name for g in graphs")
  h4 Variables
  div
    p {{graphSelect.message}}
  div.form-inline
    div.form-horizontal(ng-show="graphSelect.x")
      label(for = "x") Add X
      select#x.form-control(ng-change="changeVar(selector1,headers,'x');" ng-model="selector1" ng-options="v as v.value for v in headers")
    div.form-horizontal(ng-show="graphSelect.y")
      label(for = "y") Add Y
      select#y.form-control(ng-change="changeVar(selector2,headers,'y');" ng-model="selector2" ng-options="v as v.value for v in headers")
    div.form-horizontal(ng-show="graphSelect.z")
      label(for = "z") Add Radius
      select#z.form-control(ng-change="changeVar(selector3,headers,'z');" ng-model="selector3" ng-options="v as v.value for v in headers")

