div
  select.form-control#chooseGraph(value="Choose a graph")
    option(value = "0", selected="selected") Choose a graph
    option(value = "1") Bar Graph
    option(value = "2") Scatter Plot
    option(value = "3") Histogram
    option(value = "4") Bubble Chart
    option(value = "5") Pie Chart

//add variable options.


