div(ng-controller='ChartsSidebarCtrl as sidebar')
  h4 Graphs
  select.form-control#chooseGraph(value="Choose a graph" ng-change="sidebar.changeName()" ng-model="sidebar.graphSelect" ng-options="g as g.name for g in graphs")
  h4 Variables
  div
    p {{graphSelect.message}}
    //div(ng-show=categorical).form-inline
      input(ng-model="selectorCat" type="checkbox" id="categorical")
      p X is a categorical variable
  div.form-inline
    div.form-horizontal(ng-show="sidebar.graphSelect.x")
      label(for = "x") Add X
      select#x.form-control(ng-change="sidebar.changeVar(selector1,headers,'x');" ng-model="sidebar.selector1" ng-options="v as v.value for v in headers")
    div.form-horizontal(ng-show="sidebar.graphSelect.y")
      label(for = "y") Add Y
      select#y.form-control(ng-change="sidebar.changeVar(selector2,headers,'y');" ng-model="sidebar.selector2" ng-options="v as v.value for v in headers")
      div(ng-show = "sidebar.labelVar")
        input(ng-model="sidebar.labelCheck" type="checkbox" id = "label")
        p Check if Y variable is the labels column

    div.form-horizontal(ng-show="sidebar.graphSelect.z")
      label(for = "z") Add Radius
      select#z.form-control(ng-change="sidebar.changeVar(selector3,headers,'z');" ng-model="sidebar.selector3" ng-options="v as v.value for v in headers")

