
<div ng-class="getClass()" class="sub-menu well"><i ng-click="toggle()" class="icon-circle-arrow-left"></i>
  <div ng-show="view()">
    <ul class="nav nav-list unstyled">
      <li class="nav-header">Project1</li>
      <li><a>Story 1
          <button class="btn btn-inverse btn-small">fork</button></a></li>
      <li class="active"><a>Story 2
          <button class="btn btn-inverse btn-small">fork</button></a></li>
      <li class="nav-header">Project 2</li>
      <li>
        <button class="btn btn-medium btn-danger">Create New &nbsp;<i class="icon-plus-sign"></i></button>
      </li>
      <li><br/>
        <input ng-model="message"/>
        <button ng-click="sendMsg()" class="btn-small btn">send Message</button><br/><br/>
        <input ng-model="messageReceived"/>
        <button ng-click="unsubMsg()" class="btn-small btn">Stop Listener</button>
      </li>
    </ul>
  </div>
</div>