//main navigation template
ul.nav
  li(ng-class="getClass('/raw-data')")
    a(ng-href='#/raw-data') Raw Data
  li(ng-class="getClass('/derived-data')")
    a(ng-href='#/derived-data') Dervied Data
  li(ng-class="getClass('/tools')")
    a(ng-href='#/tools') Tools
  li(ng-class="getClass('/charts')")
      a(ng-href='#/charts') Charts
  li(ng-class="getClass('/results')")
      a(ng-href='#/results') Results