//main navigation template
ul.nav
  li(ng-class="getClass('/getData')")
    a(ng-href='#/getData') Raw Data
  li(ng-class="getClass('/wrangleData')")
    a(ng-href='#/wrangleData') Wrangle Data
  li(ng-class="getClass('/tools')")
    a(ng-href='#/tools') Tools
  li(ng-class="getClass('/charts')")
      a(ng-href='#/charts') Charts
  li(ng-class="getClass('/results')")
      a(ng-href='#/results') Results