// main navigation template
ul.nav.navbar-nav
  li(ng-class="getClass('/getData')")
    a(ng-href='#/getData') Raw Data
  li(ng-class="getClass('/wrangleData')")
    a(ng-href='#/wrangleData') Wrangle Data
  li.dropdown
    a(href="", data-toggle="dropdown", role="button", aria-haspopup="true", aria-expanded="false").dropdown-toggle
      | Tools &nbsp;
      span.caret
    ul.dropdown-menu
      li
        form.form-inline
          div.form-group
            label(for="nav-tool-search").sr-only Search tools
            div.btn-group
              input#nav-tool-search(ng-model='query', type='text', placeholder='Search for...').form-control
              span#nav-clear-tool-search(ng-click="query=''").glyphicon.glyphicon-remove-circle
      li(ng-repeat="item in app.menu | filter:query", ng-class="getClass(item.url)")
        a(ng-href='#{{tool.url}}') {{tool.name}}
  li(ng-class="getClass('/charts')")
      a(ng-href='#/charts') Charts
  li(ng-class="getClass('/results')")
      a(ng-href='#/results') Results
