footer.navbar.navbar-default.navbar-fixed-bottom
  .container
    p
      a(href='http://socr.umich.edu/') The Statistics Online Computational Resource (SOCR), &nbsp;
      b
        span(style="color: #9aa4af")
          != new Date().getFullYear()
