ul.nav.navbar-nav
  li
    a(ng-href='https://socr.umich.edu') SOCR
  //li(ng-class="getClass('/guide')")
  //  a(ng-href='#/guide') Guide
  li(ng-class="getClass('/contact')")
    a(ng-href='#/contact') Contact
