ul.nav.navbar-nav
  li(ng-class="getClass('/home')")
    a(ng-href='#/home') Home
  li(ng-class="getClass('/guide')")
    a(ng-href='#/guide') Guide
  li(ng-class="getClass('/contact')")
    a(ng-href='#/contact') Contact
