.panel.panel-default
  ul.list-group
    li.list-group-item
      strong(ng-bind-template='Project: default')
    //li.list-group-item.disabled Story 1
    //    button(type="button").pull-right.btn.btn-success.btn-xs.disabled fork
    //li.list-group-item.disabled Story 2
    //    button(type="button").pull-right.btn.btn-success.btn-xs.disabled fork
    li.list-group-item(href="#").disabled
      strong Create new project
      button(type="button").pull-right.btn-link.disabled
        span.glyphicon.glyphicon-plus-sign(aria-label="Add Project")
