div(ng-controller="sidebarCtrl")
  div(ng-class="getClass()").sub-menu.well
    i(ng-click="toggle()").icon-circle-arrow-left
    div(ng-show="view()")
      ul.nav.nav-list.unstyled
        li.nav-header Project1
        li
          a Story 1
            button.btn.btn-inverse.btn-small fork
        li.active
          a Story 2
            button.btn.btn-inverse.btn-small fork

        li.nav-header Project 2
        li
          button.btn.btn-medium.btn-danger Create New &nbsp;
            i.icon-plus-sign
        li
          br
          input(ng-model="message")
          button(ng-click="sendMsg()").btn-small.btn send Message
          br
          br
          input(ng-model="messageReceived")
          button(ng-click="unsubMsg()").btn-small.btn Stop Listener

