div#welcome_screen(ng-controller="welcomeCtrl")
  h1 Welcome to SOCR One.
  div.row-fluid
    div.welcome-block.span4
      p Browse through the extensive wiki pages and articles to help you learn the concepts of statistics You can use the tools simultaneoulsy to understand better.
      a(href="http://wiki.stat.ucla.edu/socr/index.php/SOCR_EduMaterials")
        button.btn.btn-large.btn-info Explore
    div.welcome-block.span4
      p Collection of statistical tools to perform analysis on user generated/ simulation generated 
        i without saving 
        |history or instances. 
      a(href="#/home")
        button.btn.btn-large Enter Guest
      //button.btn.btn-large Enter Guest
    div.welcome-block.span4
      p Collection of statistical tools to perform analysis on user generated/ simulation generated with an option to 
        i save history and instances.
      button.btn.btn-large.btn-primary Login
      | &nbsp; or &nbsp; 
      a(href="#")
        button.btn.btn-large.btn-success SignUp
    div.span4.welcome-buttons
    div.span4.welcome-buttons




