div(ng-controller='qualRobEstMainCtrl')
    h1 Robust Estimator for Qualitative Regression Models
    br
    p To perform any analysis, you need data to begin with. Choose one of the available methods
      |to get the data into the web-app.
    p Msg: {{sum}}