script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true
            },
            "HTML-CSS": { availableFonts: ["TeX"] }
        });
script(type='text/javascript', src='http://cdn.mathjax.org/mathjax/latest/MathJax.js')
div(ng-controller="powercalcMainCtrl as mainArea")
    div.lead.bd-danger(ng-show='mainArea.selectedAlgorithm == "Select"')
      h4 Power Analysis for statistical power analysis, manually manipulate the controls below to explore the relations between different factors
    div.cfap(ng-show='mainArea.selectedAlgorithm == "CI for One Proportion"')
      h3 CI for One Proportion
      p <i>This dialog provides sample-size determination for estimating a proportion to within a specified margin of error, for either a finite population of specified size, or an infinite population </i>
      div(style='width:100%;overflow:hidden;height:100%;')
        input(type='hidden', name='id', value='1')
        div
          div(style='line-height:10px;display:inline')
            input#isFinite(style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;', type='checkbox', name='isFinite', ng-click='mainArea.cfap_clk($event);')
            | Finite Population &nbsp &nbsp;
          div#showN(style='margin-left=40%;display:inline')
            | N: &nbsp
            input#N(type='text',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' size='10', name='N', ng-mouseleave='mainArea.cfap_valiad($event);')
            span#Nerror
        div(style='margin-top:10px;')
          div(style='display:inline')
            input#worstCase(type='checkbox',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' name='worstCase', ng-click='mainArea.cfap_clk($event);')
            | Worst case &nbsp &nbsp;
          div(style='display:inline')
            | pi: &nbsp;
            input#pi(type='text',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' size='10', name='pi', ng-mouseleave='mainArea.cfap_valiad($event);')
            span#pierror
        div(style='margin-top:20px;')
          div(style='display:inline')
            | Confidence Level: &nbsp
            input#conf(name='conf',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' value='0.95', ng-mouseleave="mainArea.cfap_presubmit('1','conf',$event);")
          div(style='display:inline')
            #slider(uib-tooltip="Manipulate this bar to adjust confidence level" tooltip-placement="top")
        div
          div(style='display:inline')
            | Margin of Error: &nbsp
            input#me(type='text', style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;', ng-mouseleave="mainArea.cfap_changeSlider('ME',$event);")
          div(style='display:inline')
            #meui(uib-tooltip="Manipulate this bar to adjust margin of error" tooltip-placement="top")
        div
          div(style='display:inline')
            | n : &nbsp
            input#n(type='text', style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;', ng-mouseleave="mainArea.cfap_changeSlider('n',$event);")
          div(style='display:inline')
            #nui(uib-tooltip="Manipulate this bar to adjust population" tooltip-placement="top")
        div
          input#cfapH(style='margin-bottom:10px;' type='button' value='Show Help' ng-click='mainArea.cfap_show_help();')
          div(ng-show='mainArea.cfap_help == true;')
            p The confidence interval is of the form p +/- ME, where p is the sample proportion and ME is the margin of error: 
            p $ ME = z * \sqrt{\frac{p*(1-p)}{(n-1)}} $  &nbsp;&nbsp;&nbsp; (infinite population)
            p $ ME = z * \sqrt{\frac{p*(1-p)}{(n-1)}} * \sqrt{1- \frac{n}{N}} $  &nbsp;&nbsp;&nbsp; (finite population)
            p where z is a critical value from the normal distribution, p is the sample proportion, n is the sample size, and N is the population size.
            br
            p <b>Using The Graphical Interface</b>
            p The dialog is designed such that a sample size n is computed whenever you change any of the other input values.  If you change n, a new ME is computed (using sigma in place of s in the above formulas).
            br
            p <b>Finite Population</b>
            p If "Finite population" is checked, calculations are based on the population size N entered in the adjacent input field. If the box is unchecked, the "N" field is hidden, and calculations are based on an infinite population.
            br 
            p <b>Worst Case</b>
            p If "Worst case" is checked, computations are based on the assumption that the true sample proportion, pi, is .5.  If it is not checked, then a pi value other than .5 may be entered in the field to the right of the checkbox.
            br
            p <b>Confidence</b>
            p Choose the desired confidence coefficient for the ME.  This determines the value of z.
            br
            p <b>Margin of Error</b>
            p Enter the target value of the margin of error here.  Note that the actual value achieved after you collect the data will be more or less than this amount, because it will be based on p (estimated from the data) rather than pi.
            br
            p <b>n</b>
            p Enter the sample size here if you want to see what margin of error is achieved with that size sample.  When you change n, it is rounded to the nearest integer; otherwise, n is not rounded
            br
            p <b>Note on Sliders</b>
            p Sliders may be varied by clicking or dragging along the center of the scale.  If you drag along at the level of the tick labels, you can change the endpoints of the scale.  The small button at the upper right of each slider converts it to and from a keyboard-input mode.  In that mode, you can also change the scale endpoints and number of digits displayed.
            br
            p <b>Graphics</b>
            p A simple graphics facility is available from the Options menu.  Enter the variables for the x and y axes, and the range of values for the x variable.  More information is available through the graphics dialog's help menu.
