script(type='text/x-mathjax-config').
  MathJax.Hub.Config({
            extensions: ["tex2jax.js"],
            jax: ["input/TeX", "output/HTML-CSS"],
            tex2jax: {
                inlineMath: [ ['$','$'], ["\\(","\\)"] ],
                displayMath: [ ['$$','$$'], ["\\[","\\]"] ],
                processEscapes: true
            },
            "HTML-CSS": { availableFonts: ["TeX"] }
        });
script(type='text/javascript', src='http://cdn.mathjax.org/mathjax/latest/MathJax.js')
div(ng-controller="powercalcMainCtrl as mainArea")
    div.lead.bd-danger(ng-show='mainArea.selectedAlgorithm == "Select"')
      h4 Power Analysis for statistical power analysis, manually manipulate the controls below to explore the relations between different factors
    div.cfap(ng-show='mainArea.selectedAlgorithm == "CI for One Proportion"')
      h3 CI for One Proportion
      p <i>This dialog provides sample-size determination for estimating a proportion to within a specified margin of error, for either a finite population of specified size, or an infinite population </i>
      div(style='width:100%;overflow:hidden;height:400px;')
        input(type='hidden', name='id', value='1')
        div
          div(style='line-height:10px;display:inline')
            input#isFinite(style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;', type='checkbox', name='isFinite', ng-click='mainArea.cfap_clk($event);')
            | Finite Population &nbsp &nbsp;
          div#showN(style='margin-left=40%;display:inline')
            | N: &nbsp
            input#N(type='text',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' size='10', name='N', ng-mouseleave='mainArea.cfap_valiad($event);')
            span#Nerror
        div(style='margin-top:10px;')
          div(style='display:inline')
            input#worstCase(type='checkbox',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' name='worstCase', ng-click='mainArea.cfap_clk($event);')
            | Worst case &nbsp &nbsp;
          div(style='display:inline')
            | pi: &nbsp;
            input#pi(type='text',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' size='10', name='pi', ng-mouseleave='mainArea.cfap_valiad($event);')
            span#pierror
        div(style='margin-top:20px;')
          div(style='display:inline')
            | Confidence Level: &nbsp
            input#conf(name='conf',style='border:0; background-color:#f5f5f5; color:black; font-weight:bold;' value='0.95', ng-mouseleave="mainArea.cfap_presubmit('1','conf',$event);")
          div(style='display:inline')
            #slider(uib-tooltip="Manipulate this bar to adjust confidence level" tooltip-placement="top")
        div
          div(style='display:inline')
            | Margin of Error: &nbsp
            input#me(type='text', style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;', ng-mouseleave="mainArea.cfap_changeSlider('ME',$event);")
          div(style='display:inline')
            #meui(uib-tooltip="Manipulate this bar to adjust margin of error" tooltip-placement="top")
        div
          div(style='display:inline')
            | n : &nbsp
            input#n(type='text', style='border:0; background-color:#f5f5f5; color:#f6931f; font-weight:bold;', ng-mouseleave="mainArea.cfap_changeSlider('n',$event);")
          div(style='display:inline')
            #nui(uib-tooltip="Manipulate this bar to adjust population" tooltip-placement="top")
        div
          input#cfapH(type='button' value='Show Help' ng-click='mainArea.cfap_show_help();')
          div(ng-show='mainArea.cfap_help == true;')
            p help will display here
            p When $a \ne 0$, there are two solutions to \(ax^2 + bx + c = 0\) and they are $$x = {-b \pm \sqrt{b^2-4ac} \over 2a}.$$


