div(ng-controller="powercalcMainCtrl as mainArea")
  h4 {{mainArea.titile}}
    div.lead.bd-danger
      |powercalc still under testing
    div.cfap()
      div(style='width:100%;overflow:hidden;height:400px;')
        input(type='hidden', name='id', value='1')
        table.tables(border='0', width='90%')
          tr
            td(width='50%')
              input#isFinite(type='checkbox', name='isFinite', ng-click='mainArea.cfap_clk($event);')
              | Finite Population
            td#showN(width='50%')
              | N
              input#N(type='text', size='10', name='N', ng-model = 'mainArea.d.N;' ng-change='mainArea.cfap_valiad($event.target.id, $event.target.value. $event);')
              span#Nerror
          tr
            td(width='50%')
              input#worstCase(type='checkbox', name='worstCase', ng-click='mainArea.cfap_clk($event);')
              | Worst case
            td(width='50%')
              | pi
              input#pi(type='text', size='10', name='pi', ng-click='mainArea.cfap_valiad($event);')
              span#pierror
          tr
            td(width='50%') Confidence
            td(width='50%')
              select#conf(name='conf', value='0.95', ng-click="mainArea.cfap_presubmit('1','conf',$event);")
                option(value='0.9') 0.9
                option(value='0.95') 0.95
                option(value='0.98') 0.98
                option(value='0.99') 0.99
                option(value='0.995') 0.995
          tr
            td(colspan='2')
              label(for='me') Margin of Error=
              input#me(type='text', style='border:0; color:#f6931f; font-weight:bold;')
          tr
            td(colspan='2')
              #meui
          tr
            td(colspan='2')
              label(for='n') n =
              input#n(type='text', style='border:0; color:#f6931f; font-weight:bold;')
          tr
            td(colspan='2')
              #nui
