div(ng-controller="dimReductionMainCtrl as mainArea")
  h4 {{mainArea.title}}
  div.lead.bg-danger(ng-hide="mainArea.dataType == mainArea.DATA_TYPES.FLAT")
    | Clustering module only supports tabular data
  div(ng-hide="mainArea.dataType != mainArea.DATA_TYPES.FLAT")
    p.
      k-means clustering aims to partition n observations into k clusters in which each observation belongs
      to the cluster with the nearest mean, serving as a prototype of the cluster.
    div(ng-show="mainArea.showresults").cluster-results
      p.lead <strong> Average accuracy: </strong> {{avgAccuracy}}
      div.table-responsive
        table.table.table-bordered.table-condensed
          tr
            th Label
            th Accuracy
          tr(ng-repeat="(label, acc) in mainArea.accs")
            td {{mainArea.label}}
            td {{mainArea.acc.toFixed(2)}}
    socrat-cluster-viz
