div(ng-controller="kMeansMainCtrl")
  h2 2D k-means Clustering
  p.
    k-means clustering aims to partition n observations into k clusters in which each observation belongs
    to the cluster with the nearest mean, serving as a prototype of the cluster.
