div(ng-controller="kMeansSidebarCtrl")
  form
    legend Parameters
    div.form-group
      label X column &nbsp;
      //- show data header column names
      select(ng-model="xCol", ng-options="col for col in cols").form-control
    div.form-group
      label Y column &nbsp;
      //- show data header column names
      select(ng-model="yCol", ng-options="col for col in cols").form-control
    div.checkbox
      label
        input(type="checkbox", ng-model="labelson")
        | Use labels column
    div.form-group
      fieldset(ng-disabled="!labelson")
        label Labels column &nbsp;
        //- show data header column names
        select(ng-model="labelCol", ng-options="col for col in cols").form-control
    div.form-group
      label k &nbsp;
      // k from 2 to 10, uses d3.scale.category10()
      //- generate options for k from 2 to 10
      - var k = 2
      select(ng-model="k").form-control
        while k <= 10
          option(value=k)= k++
    div.form-group
      label Distance &nbsp;
      select(ng-model="dist").form-control
        each dist in ['Euclidean', 'Mahalanobis', 'Manhattan', 'Maximum']
          option(value=dist)= dist
    div.form-group
      label Initialization &nbsp;
      select(ng-model="initMethod").form-control
        each method in ['Forgy', 'Random Partition']
          option(value=method)= method
    button(type="submit", aria-label="Run k-Means", ng-click="run()", ng-disabled="kmeanson").btn.btn-primary Run&nbsp;
      span.glyphicon.glyphicon-refresh(aria-hidden="true", ng-class="running")
