div.container-fluid(ng-controller="dimensionReductionMainCtrl as mainArea")
  h5 Embedding Projector
  .TensorBoard
    section#Try
      embed(id="src" src="mainArea.receivedLink", style='height:900px; width:100%;')
  dimension-reduction-viz
