div.container-fluid(ng-controller="ChartsMainCtrl as mainArea")
  h5 Dimension Reduction
  .TensorBoard
    section#Try
      embed(src='https://projector.tensorflow.org/?config=https://raw.githubusercontent.com/SOCR/HTML5_WebSite/master/HTML5/SOCR_TensorBoard_UKBB/data/SOCR_CountryRanking_projector_config.json', style='height:900px; width:100%;')
