div(ng-controller='dimensionReductionSidebarCtrl as sidebar')
  form
    span.glyphicon.glyphicon-arrow-up &nbsp;
    | Hide panel for better experience
    legend DataSets &nbsp;
      .form-group
        label(
          style=''
        ) Choose dataset &nbsp;
        select.form-control(
          ng-model="sidebar.selectedDataSet"
          ng-options="dataSet for dataSet in sidebar.dataSets"
          ng-change="sidebar.updateDataSet()"
        )
