.container-fluid.wrap
  nav.navbar.navbar-static-top.navbar-inverse.socrat-navbar-menu
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').navbar-brand SOCRAT
      .navbar-collapse
        div!= require('partials/nav.jade')()
        p.navbar-text.pull-right Logged in as&nbsp;
          a(href='#').navbar-link.
            {{app.username}}

  // tooblar navigation for statistical analysis
  nav.navbar.navbar-default.navbar-static-top.socrat-navbar-menu
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.analysis-toolbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').navbar-brand Analysis
      .navbar-collapse.analysis-toolbar
        menubar
        notification

  // main content section
  .main-content.container-fluid.socrat-content-wrap
    .row
      div(ng-controller="AppSidebarCtrl as sidebar")
        div(ng-class="sidebar.getClass()").sub-menu.well
          span(ng-click="sidebar.toggle()", ng-class="sidebar.arrowDirection")
          div(ng-show="sidebar.view()")
            div(ui-view="sidebar", ng-animate="{enter:'fade-enter'}")
      div(ng-controller='AppMainCtrl as main')
        div(ui-view="main",class="{{main.width}}").well
  .push

div!= require('partials/footer.jade') ()
