body(ng-controller='AppCtrl')
.container-fluid
  nav.navbar.navbar-static-top.navbar-inverse
    .container-fluid
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').navbar-brand SOCR
      .navbar-collapse
        div!= require('partials/nav.jade')()
        p.navbar-text.pull-right Logged in as&nbsp;
          a(href='#').navbar-link.
            {{username}}

  // tooblar navigation for statistical analysis
  nav.navbar.navbar-default.navbar-static-top
    .container
      .navbar-header
        button.navbar-toggle(type='button', data-toggle='collapse', data-target='.analysis-toolbar')
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').navbar-brand Analysis
      .navbar-collapse.analysis-toolbar
        div!= require('partials/analysis-nav.jade')()
        notification

  // main content section
  .main-content.container-fluid
    .row
      div(ng-controller="sidebarCtrl")
        div(ng-class="getClass()").sub-menu.well
          span(ng-click="toggle()", ng-class="arrowDirection")
          div(ng-show="view()")
            div(ui-view="sidebar", ng-animate="{enter:'fade-enter'}")
      div(ng-controller='mainCtrl')
        div(ui-view="main",class="{{width}}").well
  .push

div!= require('partials/footer.jade') ()
