.container-fluid.wrap
  // tooblar navigation for statistical analysis
  nav.navbar.navbar-inverse.navbar-static-top.socrat-navbar-menu
    .container
      .navbar-header
        button.navbar-toggle(
          type='button'
          data-toggle='collapse'
          data-target='.analysis-toolbar'
        )
          span.icon-bar
          span.icon-bar
          span.icon-bar
        a(href='/').navbar-brand SOCRAT
          span(style="font-size:14px") v{{app.version}}
      .navbar-collapse.analysis-toolbar
        menubar
        notification

  // main content section
  .main-content.container-fluid.socrat-content-wrap
    .row.container-fluid
      div(ng-controller="AppSidebarCtrl as sidebar")
        div(ng-class="sidebar.getClass()").sub-menu.well
          span(ng-click="sidebar.toggle()", ng-class="sidebar.arrowDirection")
          div(ng-show="sidebar.view()")
            div(ui-view="sidebar", ng-animate="{enter:'fade-enter'}")
      div(ng-controller='AppMainCtrl as main')
        div(ui-view="main",class="{{main.width}}").well
  .push

div!= require('partials/footer.jade') ()
