div(ng-controller='JiaruiLiuMainCtrl as mainArea')
    h4 Jiarui Liu
    h4 {{mainArea.text}}
    button(class="tabButtons" ng-click="mainArea.handleHello()") hello
    h4 {{mainArea.hello}}
    //- jiaruiliudir