div(ng-controller="MyModuleMainCtrl as mainArea")
  h4 {{mainArea.title}}
  div
    app-my-module-dir

//div(ng-controller="MyModuleMainCtrl as mainArea")
//  h4 {{mainArea.title}}
//  p {{mainArea.data_from_db}}

