div(ng-controller="mymoduleSidebarCtrl as sidebar")
      p current message: {{sidebar.newMessage}}

      button.btn.btn-info(
            type="submit"
            aria-label="Get data"
            ng-click="sidebar.fetchData()"
            tooltip-placement="right"
      )
            | Get Data
