div(ng-controller="mymoduleSidebarCtrl as sidebar")
  form
    legend Test 1 &nbsp;
      div.form-group(ng-disabled="sidebar.mymoduleRunning")
        fieldset
          label(
          ) Standardization &nbsp;
          select.form-control(
          ng-model="sidebar.selectedAlgorithm"
          ng-options="method for method in sidebar.options"
          ng-change="sidebar.updateAlgControls()"
          )
  