
<div ng-controller="getDataSidebarCtrl">
  <h4>Grid</h4>
  <button ng-click="getGrid()" class="btn btn-info">Grid</button>
  <h4>Json</h4>
  <input type="url" ng-model="jsonUrl" class="input-medium"/>
  <button ng-click="getJson()" class="btn btn-info">Json</button>
  <h4>Generate</h4>
  <input type="url" ng-model="" class="input-medium"/>
  <button class="btn btn-info">Generate</button>
  <h4>Url</h4>
  <input type="url" ng-model="" class="input-medium"/>
  <button class="btn btn-info">url</button>
</div>