div(ng-controller="instrPerfEvalViewMainCtrl")
    h1 Instrument Perfomance Evaluation
    br
    p To perform any analysis, you need data to begin with. Choose one of the available methods
      |to get the data into the web-app.
    p Msg: {{outputStats}}