div(ng-controller="instrPerfEvalMainCtrl")
    h1 Instrument Performance Evaluation
    br
    p <strong> Cronbach's alpha:</strong> {{cronAlpha}}
    p Intraclass correlation coefficient (ICC): {{icc}}
    p Split-Half Reliability coefficient: {{splitHalfCoef}}
    p Kuder–Richardson Formula 20 (KR-20): {{kr20}}
    br
    p <em> Confidence intervals:</em>
    p ID confidence interval: {{cronAlphaIdInterval}}
    p Koning and Franses confidence interval: {{cronAlphaKfInterval}}
    p Bootstrap confidence interval: {{cronAlphaBootstrapInterval}}
    p Logit confidence interval: {{cronAlphaLogitInterval}}
    p Asymptotically distribution-free (ADF) interval: {{cronAlphaAdfInterval}}
