div(ng-controller='getDataMainCtrl')
  h1 Get Data
  p.lead To perform any analysis, you need data to begin with. Choose one of the available methods
    |to get the data into the web-app.

  form.socrData(uib-collapse="showState.socrData")
    legend SOCR Datasets
    div.form-group
      

  div.worldBank(uib-collapse="showState.worldBank")
    h3 WorldBank Data
    span Size:
        option(value='4.2_BASIC.EDU.SPENDING') Education Spending
        option(value='2.4_OOSC.RATE') Out of School Children rate
      button.btn.btn-medium(ng-click="getWB()") Go

  div.generate(uib-collapse="showState.generate")
    ul.nav.nav-pills.nav-stacked
      li
        a Binomial Coin Toss
      li
        a Ball and Urn
      li
        a Card Experiment
      li
        a Beta Binomial Experiment
      li
        a The Beta Distribution Experiment

  br
  handsontable(purpose="json")





