div(ng-controller='getDataMainCtrl')
    h1 Get Data
    br
    p To perform any analysis, you need data to begin with. Choose one of the available methods
      |to get the data into the web-app.
    

    div.worldBank(collapse="showState.worldBank")
        h3 WorldBank Data
        span Size:
            input(type="text",class="input-mini",ng-model="size")
            select(style="width:100%;margin:0px",ng-model="option")
                option(value='4.2_BASIC.EDU.SPENDING') Education Spending
                option(value='2.4_OOSC.RATE') Out of School Children rate
            button.btn.btn-medium(ng-click="getWB()") Go
    

    div.generate(collapse="showState.generate")
        ul.nav.nav-pills.nav-stacked
          li
            a Binomial Coin Toss
          li
            a Ball and Urn
          li
            a Card Experiment
          li
            a Beta Binomial Experiment
          li
            a The Beta Distribution Experiment

    handsontable(purpose="json")
    



      
