div(ng-controller="getDataSidebarCtrl")
    h4 Grid
    button(ng-click="getGrid()").btn.btn-info Grid
    h4 Json
    input(type="url",ng-model="jsonUrl").input-medium
    button(ng-click="getJson()").btn.btn-info Json
    h4 Generate
    input(type="url",ng-model="").input-medium
    button.btn.btn-info Generate
    h4 Url
    input(type="url",ng-model="").input-medium
    button.btn.btn-info url

