
<div class="hero-unit">
  <h2>Contact Us</h2>
  <p>We place user at the center while developing the applications. Your feedback are most valuable for us to improve the overall experience. Please drop us a mail @ for suggestions and feedback.</p>
  <p>The <strong>SOCR One </strong><span>active development team comprises of </span><a href="#">Selvam </a><span>and </span><a href="#">Alexandr </a>
    <and>is headed by </and><a href="#">Dr.Ivo Dinov .  </a>
  </p><a href="#" class="btn btn-small"> <i class="icon-github icon-2x"> </i>&nbsp; GitHub </a>&nbsp;<a href="#" class="btn btn-small btn-inverse"> <i class="icon-facebook icon-2x"> </i>&nbsp; Facebook </a>&nbsp;<a href="#" class="btn btn-small btn-primary"> <i class="icon-twitter icon-2x"> </i>&nbsp; Twitter </a>
</div>