div
  div.lead.bg-danger(ng-hide="mainArea.dataType == mainArea.DATA_TYPES.FLAT")
    | Invalid input data.
    | Only tabular data are supported.
  #dt_example(style='height: 400px', ng-hide="mainArea.dataType != mainArea.DATA_TYPES.FLAT", ng-cloak)
      .ui-layout-north#wranglerNorthPanel
          #wranglerDashboard
      .ui-layout-west#profilerWestPanel
          #transformEditor.transformEditor
      .ui-layout-center#profilerCenterPanel
          #table
          #preview
          .spacer
      .ui-layout-south
