div(ng-controller="instrPerfEvalViewSidebarCtrl")
    form
        fieldset
            legend Data parameters
            label Number of columns&nbsp;
                input(ng-model="nCols").input-small
            label Number of rows&nbsp;
                input(ng-model="nRows").input-small
            label Gamma&nbsp;
                input(ng-model="gamma").input-small
            div
            button(type="submit", ng-click="calculate()").btn.btn-primary Calculate
