div
  h6 SOCRAT:
    a(href="https://socr.umich.edu/", target="_blank").tortoise-link &nbsp;SOCR&nbsp;
    | Analytics Toolbox
    span , v{{app.version}}
  p A Dynamic Web Toolbox for Interactive Data Processing, Analysis, and Visualization
  p
    strong &nbsp;SOCRAT&nbsp;
    span is developed by
    a(href="https://github.com/alxndrkalinin").tortoise-link
      b &nbsp;Alexandr A. Kalinin,&nbsp;
      a(href="https://github.com/chartotu19").tortoise-link
        b &nbsp;Selvam Palanimalai,&nbsp;
      a(href="https://github.com/bradyzhu1102").tortoise-link
        b &nbsp;Junqi Zhu,&nbsp;
      a(href="https://github.com/wenyiw").tortoise-link
        b &nbsp;Wenyi Wu,&nbsp;
      a(href="https://github.com/nik7273").tortoise-link
        b &nbsp;Nikhil Devraj,&nbsp;
      a(href="https://github.com/appletreeisyellow").tortoise-link
        b &nbsp;Chunchun Ye,&nbsp;
      a(href="https://github.com/nponarul").tortoise-link
        b &nbsp;Nellie Ponarul,&nbsp;
      a(href="https://github.com/sshusain").tortoise-link
        b &nbsp;Syed Husain,&nbsp;
      a(href="https://github.com/SOCR/SOCRAT/graphs/contributors").tortoise-link
        b &nbsp;other contributors,&nbsp;
    span and is headed by
    a(href="http://socr.umich.edu/html/SOCR_Contact.html").tortoise-link
      b &nbsp;Dr. Ivo Dinov.
  p If you find this work useful, please cite our publications:&nbsp;
    ul
      li
        span Kalinin, Alexandr A., Selvam Palanimalai, Junqi Zhu, Wenyi Wu, Nikhil Devraj, Chunchun Ye, Nellie Ponarul, Syed S. Husain, and Ivo D. Dinov.&nbsp;
        b "SOCRAT: A Dynamic Web Toolbox for Interactive Data Processing, Analysis and Visualization."
        span  Information 13, no. 11 (2022): 547.&nbsp;
          a(href="https://doi.org/10.3390/info13110547").tortoise-link https://doi.org/10.3390/info13110547
      li
        span Kalinin, Alexandr A., Selvam Palanimalai, and Ivo D. Dinov.&nbsp;
        b "SOCRAT Platform Design: A Web Architecture for Interactive Visual Analytics Applications."
        span  In Proceedings of the 2nd Workshop on Human-In-the-Loop Data Analytics, p. 8. ACM, 2017.&nbsp;
          a(href="https://doi.org/10.1145/3077257.3077262").tortoise-link https://doi.org/10.1145/3077257.3077262
  p Please
    a(href="mailto:statistics@umich.edu").tortoise-link
      strong
        u &nbsp;drop us an email&nbsp;
    span with suggestions and feedback.
  a.btn.btn-small.btn-info(href="https://github.com/SOCR/SOCRAT", target="_blank")
    span.fui-github
    | &nbsp; GitHub
  span &nbsp;
  a.btn.btn-small.btn-info(href="https://twitter.com/SOCRedu", target="_blank")
    span.fui-twitter
    | &nbsp; Twitter
