div
  h2 Contact Us
  p We place user at the center while developing the applications. Your feedback are most valuable for us to improve the overall experience. Please drop us a mail @ for suggestions and feedback.

  p The 
    strong SOCR One 
    span active development team comprises of 
    a(href="#") Selvam 
    span and 
    a(href="#") Alexandr 
    and is headed by 
    a(href="#") Dr.Ivo Dinov .  

  a.btn.btn-small(href="#") 
    i.icon-github.icon-2x 
    | &nbsp; GitHub 

  &nbsp;
  a.btn.btn-small.btn-inverse(href="#") 
    i.icon-facebook.icon-2x 
    | &nbsp; Facebook 

  &nbsp;
  a.btn.btn-small.btn-primary(href="#") 
    i.icon-twitter.icon-2x 
    | &nbsp; Twitter 