div
  h6 SOCRAT:
    a(href="https://socr.umich.edu/").tortoise-link &nbsp;SOCR&nbsp;
    | Analytics Toolbox
    span , v{{app.version}}
  p A Dynamic Web Toolbox for Interactive Data Processing, Analysis, and Visualization
  p The
    strong &nbsp;SOCRAT&nbsp;
    span project is lead by
    a(href="https://github.com/alxndrkalinin").tortoise-link
      b &nbsp;Alexandr A. Kalinin&nbsp;
    span with contributions of
      a(href="https://github.com/chartotu19").tortoise-link
        b &nbsp;Selvam Palanimalai,&nbsp;
      a(href="https://github.com/bradyzhu1102").tortoise-link
        b &nbsp;Junqi Zhu,&nbsp;
      a(href="https://github.com/appletreeisyellow").tortoise-link
        b &nbsp;Chunchun Ye,&nbsp;
      a(href="https://github.com/nponarul").tortoise-link
        b &nbsp;Nellie Ponarul,&nbsp;
      a(href="https://github.com/sshusain").tortoise-link
        b &nbsp;Syed Husain,&nbsp;
    span and is headed by
    a(href="http://socr.umich.edu/html/SOCR_Contact.html").tortoise-link
      b &nbsp;Dr. Ivo Dinov.
  a.btn.btn-small.btn-info(href="https://github.com/SOCR/SOCRAT")
    span.fui-github
    | &nbsp; GitHub
  span &nbsp;
  a.btn.btn-small.btn-info(href="https://twitter.com/SOCRedu")
    span.fui-twitter
    | &nbsp; Twitter
  br
  br
  p Your feedback is very valuable for us to improve the overall app experience. Please
    a(href="mailto:statistics@umich.edu").tortoise-link
      strong
        u &nbsp;drop us an email&nbsp;
    span with suggestions and feedback.
  p Publications to cite:&nbsp;
    a(href="https://doi.org/10.1145/3077257.3077262").tortoise-link
      span Kalinin, Alexandr A., Selvam Palanimalai, and Ivo D. Dinov.&nbsp;
      b "SOCRAT Platform Design: A Web Architecture for Interactive Visual Analytics Applications."
      span  In Proceedings of the 2nd Workshop on Human-In-the-Loop Data Analytics, p. 8. ACM, 2017.
