div
  h3 Contact Us
  p Your feedback is very valuable for us to improve the overall app experience. Please
    a(href="mailto:statistics@umich.edu").tortoise-link
      strong
        u &nbsp;drop us an email&nbsp;
    span with suggestions and feedback.

  p The
    strong &nbsp;SOCRAT&nbsp;
    span active development is lead by
    a(href="https://github.com/alxndrkalinin").tortoise-link
      b &nbsp;Alexandr Kalinin&nbsp;
    span and is headed by
    a(href="http://socr.umich.edu/html/SOCR_Contact.html").tortoise-link
      b &nbsp;Dr. Ivo Dinov&nbsp;.

  a.btn.btn-small.btn-info(href="https://twitter.com/SOCRedu")
    span.fui-twitter
    | &nbsp; Twitter
  span &nbsp;
  a.btn.btn-small.btn-info(href="https://github.com/SOCR/SOCRAT")
    span.fui-github
    | &nbsp; GitHub


