div
  h3 Welcome to SOCRAT
  p.lead Start with entering data at
    mark Data Input 
    |  tab in main menu.
    br
    |  Continue through 
    mark Data Wrangler
    |  to
    mark Charts
    |  and Analytical
    mark Tools.
