div
  h3 Welcome to SOCRAT
  p.lead Start with getting data at
    mark Raw Data 
    |  tab in main menu.
    br
    |  Continue through 
    mark Data Wrangler
    |  to analysis and
    mark Charts.
